
<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        
  
        <h6 class="text-uppercase fw-bold mb-4 text-dark" >Contact</h6>
        <!-- FaceBook -->
        <a
          class="btn text-white btn-floating m-1"
          href="#"
          role="button">
          <img class="rounded" [src]="image4" alt="" width="30px" height="30px" > 
        </a>
        <!-- Instagram -->
        
        <a
          class="btn text-white btn-floating m-1"
          href="#"
          role="button">
          <img class="rounded" [src]="image3" alt="" width="30px" height="30px" >
        </a>
        <div class="text-dark">
            <!-- Links -->
            
            <p><i class="fas fa-home me-3"></i>reservehotel@hotel.in</p>
            <p><i class="fas fa-phone me-3"></i> + 01 202 212121</p>
          </div>
          

      </section>
      <!-- Section: Social media -->
    </div>
    
  </footer>