<h3 class="text-center">Most Searched Destination</h3>
<br>
<div class="container">
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      <div class="col">
        <!-- Card -->
    <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" [src]=image1
            alt="Mumbai">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Mumbai</h4>
         
          <button type="button" (click)="Mumbai()" class="btn btn-light-blue btn-md" >See Hotels</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" [src]=image6
            alt="Delhi">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Delhi</h4>
        
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" (click)="Delhi()" class="btn btn-light-blue btn-md">See Hotels</button>
  
        </div>
  
      </div>
      <!-- Card -->
      </div>
      <div class="col">
       <!-- Card -->
    <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" [src]=image2
            alt="Pune">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Pune</h4>
         
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" (click)="Pune()" class="btn btn-light-blue btn-md">See Hotels</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" [src]=image3
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Jaipur</h4>
         
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" (click)="Jaipur()" class="btn btn-light-blue btn-md">See Hotels</button>
  
        </div>
  
      </div>
      <!-- Card -->
      </div>
      <div class="col">
       <!-- Card -->
    <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" [src]=image4
            alt="Jaipur">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Bengalore</h4>
          
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" (click)="Bengluru()" class="btn btn-light-blue btn-md">See Hotels</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" [src]=image5
            alt="Chennai">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Chennai</h4>
        
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" (click)="Chennai()" class="btn btn-light-blue btn-md">See Hotels</button>
  
        </div>
  
      </div>
      <!-- Card -->
      </div>
      
    </div>

